body {
  background: #fff;
}

.products__images {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.products__images-item {
  flex: 0 1 25%;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.products__image {
  position: relative;
  border: 1px dashed #ababab;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  height: 150px;
  width: 150px;
  margin: 5px;
}
.products__image-clear {
  position: absolute;
  background: #900;
  color: #fff;
  font-size: 16px;
  top: 1px;
  right: 1px;
  padding: 0 7px 1px;
  cursor: pointer;
}
